<section fxFlex.gt-sm="70%" fxFlex="100%;">

    <div class="roles_header">
        <div class="text_header">Roles</div>
    </div>

    <mat-table [dataSource]="dataSource">
    
        <ng-container matColumnDef="roleId">
            <mat-header-cell *matHeaderCellDef fxFlex="20%" fxFlex.gt-sm="12%">Role ID</mat-header-cell>
            <mat-cell *matCellDef="let element " fxFlex="20%" fxFlex.gt-sm="12%"> 
                <button  fxFlex="40px;" fxLayoutAlign="center" mat-raised-button class="btn"  (click)="openDialog(element.roleId)">   <mat-icon>edit</mat-icon> </button>
            </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Role Name</mat-header-cell>
            <mat-cell *matCellDef="let element "> {{element.name}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
            <mat-cell *matCellDef="let element ">{{element.description}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="createdBy">
            <mat-header-cell *matHeaderCellDef>Created By</mat-header-cell>
            <mat-cell *matCellDef="let element ">{{element.createdBy}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="createdDate">
            <mat-header-cell *matHeaderCellDef>Created Date</mat-header-cell>
            <mat-cell *matCellDef="let element ">{{element.createdDate | date:'medium'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastUpdatedBy">
            <mat-header-cell *matHeaderCellDef>Last Updated By</mat-header-cell>
            <mat-cell *matCellDef="let element ">{{element.lastUpdatedBy}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastUpdatedDate">
            <mat-header-cell *matHeaderCellDef>Last Updated Date</mat-header-cell>
            <mat-cell *matCellDef="let element ">{{element.lastUpdatedDate | date}}</mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    
    </mat-table>

    
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons 
    aria-label="Select page of periodic elements">
    </mat-paginator>
    
    </section>
    